[Unit]
Description=Run Watchlog Script every 10 seconds

[Timer]
RandomizedDelaySec=0
OnBootSec=5
OnUnitActiveSec=10
Unit=watchlog.service

[Install]
WantedBy=multi-user.target
