[Unit]
Description=Run Watchlog Script every 10 seconds

[Timer]
OnStartupSec=1
OnUnitActiveSec=10
RandomizedDelaySec=1
Unit=watchlog.service

[Install]
WantedBy=multi-user.target
